export(wss)
export(wwcss)
export(Wpca)
export(wmean)
export(Wkmeans)
export(Whclust)
export(DNcluster.predict)
export(DN.Wpca)
export(DN.Wkmeans)
export(DN.Whclust)
export(distw)
export(cluster.predict)
importFrom("graphics","plot")
import("cluster")
importFrom("stats", "weighted.mean")
importFrom("datanugget","create.DN","refine.DN")
